@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-size: 16px;
}
body {
  font-size: var(--font-size);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.text-base {
  font-size: 1rem; /* 16px */
}
.text-sm {
  font-size: 0.875rem; /* 14px */
}
.text-lg {
  font-size: 1.125rem; /* 18px */
}
